html {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
}

body {
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25 px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, auto);
}
aside {
  grid-column: 3 / span 1;
  grid-row: 1 / span 10;
  margin: 50px;
}
.grid-left {
  grid-column: 1 / span 2;
  margin: 50px;
}
.profile_comments {
  grid-column: 1 / span 2;
}
.top-bar {
  background-color: white;
  display: flex;
  height: 80px;
  font-size: 35px;
  color: gray;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
}
.left-bar {
  display: flex;
}
.youtube-logo {
  height: 50px;
}
.fas {
  color: gray;
  padding: 10px;
}
main {
  background-color: white;
}
.top-video {
  width: 100%;
  height: 500px;
}
.profile_pic {
  width: 70px;
}
.video-icons {
}
.profile_comments {
  background-color: white;
  padding: 30px;
}
p {
  float: right;
}
.comments_pic {
  width: 60px;
}
.video_list {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.views_list {
  color: gray;

}
.video_list_pic {
  float: left;
  padding: 10px;
  width: 200px;
}
.video_description {
  
  padding: 20px;
  padding-left: 30px;
}
.search {
  width: 400px;
}
.views {
  position: relative;
  float: right;
  border-bottom: 4px solid blue;
  font-size: large;
}
h2 {
  font-family:'Roboto', sans-serif; 
  font-weight: 550;
  padding-inline-start: 10px;
}
