body {
  background-color: whitesmoke;

}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, auto);
}
aside {
  grid-column: 3 / span 1;
  grid-row: 1 / span 10;
  margin: 50px;
}
.grid-left{
  grid-column: 1 / span 2;
  margin: 50px;
}

.top-bar {
  background-color: white;
  display: flex;
  height: 80px;
  font-size: 35px;
  color: gray;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
}

.left-bar {
  display: flex;
}

.youtube-logo {
  height: 50px;
}
.fas {
  color: gray;
}

main {
  background-color: white;
}
.profile_pic {
  width: 50px;
}
.profile_comments {
  background-color: white;
}

.comments_pic {
  width: 30px;
}
.video_list {
  background-color: white;
}
.video_list_pic {
  width: 200px;
}
.search {
  width: 400px;
}
.views {
  position: relative;
  float: right;
  border-bottom: 5px solid blue;  
}